@use 'functions' as *;

@mixin fluid-text($max: 48, $min: 16) {
  font-size: fluid($max, $min);
}

@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin visually-hidden {
  position: absolute;
  overflow: hidden;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  white-space: nowrap;
  border: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(100%);
}
